{% extends "base.html" %} {% block content %}
<br />
<div class="container pt-4">
  <div class="row p-0 mt-4">
    <div class="col-lg-4 mx-auto shadow p-0">
      <div class="alert alert-info">
        <h2>Add New Todo</h2>
      </div>
      <div class="p-4">
        <form method="post" action="/add-todo/">
          {% csrf_token %} {{ form.as_p }}
          <hr />
          <input type="submit" value="ADD" class="btn btn-info" />
        </form>
      </div>
    </div>
    <div class="col">
      <div class="border">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quaerat
        animi maxime doloremque blanditiis obcaecati natus, consectetur eveniet
        saepe veritatis qui sequi, quibusdam facere similique tempora iure
        omnis. Dolore, praesentium.
      </div>
    </div>
  </div>
</div>

{% endblock %}
